@import "Variables";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");


// Buttons

.basic-button {
    background-color: $primary-color;
    align-items: center;
    padding: 3% 3%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: $buttons-box-shadow;
    z-index: 4;
    cursor: pointer;
    transition: $transition-secs;

    a, button    {
        color: $ternary-color !important;
        text-decoration: none;
        font-family: $code-font;
        font-weight: bold;

        svg {
            font-size: 1.25em;
        }
    }

    &:hover  {
        transform: $buttons-scale;
        background-color: $primary-hover-color;
        box-shadow: $buttons-hover-box-shadow;

        a, svg, button   {
            color: $secondary-color;
        }
    }
}

.basic-button button {
    background: none;
    border: 0;
}


// Skills

.skill-pill {
    background-color: rgb(230, 249, 249);
    border-radius: 75px;
    padding: 4px 8px;
    transition: 0.4s;

    &:hover {
        background-color: rgb(214, 238, 238);
    }
}

.skill-value    {
    font-size: 0.8em;
    font-weight: 500;
}

.skill-amazon-dynamodb {
    background: url("../images/amazon_dynamo_db.png");
}

.skill-angular  {
    background: url("../images/angular.png");
}

.skill-aws {
    background: url("../images/aws.png");
}

.skill-aws-elastic-beanstalk    {
    background: url("../images/aws_elastic_beanstalk.png");
}

.skill-azure {
    background: url("../images/azure.png");
}

.skill-azure-cosmos-db {
    background: url("../images/azure_cosmos_db.png");
}

.skill-azure-functions  {
    background: url("../images/azure_functions.png");
} 

.skill-azure-sql    {
    background: url("../images/azure_sql.png");
}

.skill-bootstrap    {
    background: url("../images/bootstrap.png");
} 

.skill-docker {
    background: url("../images/docker.png");
}

.skill-fast-api {
    background: url("../images/fast_api.png");
}

.skill-flask    {
    background: url("../images/flask.png");
}

.skill-gin {
    background: url("../images/gin.png");
}

.skill-git {
    background: url("../images/git.png");
}

.skill-github   {
    background: url("../images/github.png");
}

.skill-github-actions   {
    background: url("../images/github_actions.png");
}

.skill-go   {
    background: url("../images/go.png");
}

.skill-java {
    background: url("../images/java.png");
}

.skill-javascript {
    background: url("../images/javascript.png");
}

.skill-jenkins {
    background: url("../images/jenkins.png");
}

.skill-jira {
    background: url("../images/jira.png");
}

.skill-jquery {
    background: url("../images/jquery.png");
}

.skill-junit {
    background: url("../images/junit.png");
}

.skill-kubernetes {
    background: url("../images/kubernetes.png");
}

.skill-mysql {
    background: url("../images/mysql.png");
}

.skill-php {
    background: url("../images/php.png");
}

.skill-python   {
    background: url("../images/python.png");
}

.skill-react    {
    background: url("../images/react.png");
}

.skill-sass {
    background: url("../images/sass.png");
}

.skill-selenium {
    background: url("../images/selenium.png");
}

.skill-spark    {
    background: url("../images/spark.png");
} 

.skill-spring {
    background: url("../images/spring.png");
}

.skill-image    {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
}


// In-progress text

.in-progress  {
    color: $gray-8;
    font-size: 0.85em;
    font-weight: 500;
}


// Round icons

.round-icon  {
    display: inline-block;
    bottom: 48px;
    right: 48px;
    z-index: 5;
    padding: 10px;
    background-color: $primary-color;
    box-shadow: $buttons-box-shadow;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    transition: $transition-secs;

    svg {
        color: $ternary-color !important;
    }
}

.round-icon-container:hover {

    .round-icon {
        transform: $buttons-scale;
        background-color: $primary-hover-color;
        box-shadow: $buttons-hover-box-shadow;

        svg {
            color: $secondary-color !important;
        }
    }
}


// Section header

header.section-header   {
    font-family: "Kode Mono", monospace;
    font-weight: 700;
    color: $blue;

    .first-word   {
        border: 2.5px solid $gray-5;
    }

    .next-word  {
        border-bottom: 2.5px solid $gray-5;
    }
}

@media screen and (max-width: 290px) {
    header.section-header .next-word   {
        line-height: 2;
    }

    header.section-header .first-word   {
        line-height: 2.5;
        word-wrap: break-word;
    }
}


// Card title

.card-title {
    font-family: "Kode Mono", monospace !important;

    .card-title-icon    {
        border-radius: $border-radius;
        background: goldenrod;
        font-weight: 700;
        color: white;
        width: 22px;
        height: 22px;
    }

    .card-title-value {
        color: darkgoldenrod;
        font-weight: 600;
    }
}

@keyframes blinkKey {
    0%, 75%, 100%  {
        //color: transparent;
        display: none;
    }
    25%, 50% {
        //color:red;
        display: inline;
    }
}

.blink-key  {
    animation-name: blinkKey;
    animation-duration: 160ms;
    animation-iteration-count: infinite;
    color: $gray-black;
}