@import "Variables";

#section-three  {
    background-color: aliceblue !important;
    min-height: 100%;
    height: max-content !important;
}

.card-skills, .card-certification   {
    background-color: white !important;
    z-index: 5;
    box-shadow: $box-shadow-card;
    overflow-y: auto;
    overflow-x: hidden;
}

// Skills

.skill-category-heading > div {
    top: 0px;
}

.skill-category-heading > div > span    {
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2.5px;
}

// Certifications

.card-certification {
    width: 47.5%;
    transition: $transition-secs;

    a {
        text-decoration: none;
    }

    .certification-text {
        color: darkblue;
    }
}

.certification_aws  {
    background: url("../images/aws_certificate.png");
}

.certification_java  {
    background: url("../images/java_certificate.png");
}

.certification_azure  {
    background: url("../images/azure_certificate.png");
}

.certification-image    {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 128px;
    height: 128px;
}

.certification-name-outer   {
    overflow: hidden !important;
    overflow-wrap: break-word !important;
    display: inline-block;
}

.certification-text {
    color: $gray-black;
    font-weight: bold !important;
}

.credly-image   {
    width: 32px;
    height: 32px;
    background-image: url("../images/credly.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

// Colors

#section-three {
    header.section-header   {
        color: goldenrod !important;
    }

    #section-skills {
        .card-title .card-title-icon {
            background: $blue !important;
        }

        .card-title .card-title-value {
            color: $blue !important;
        }
    }

    #section-certifications {
        .card-title .card-title-icon {
            background: indianred !important;
        }

        .card-title .card-title-value {
            color: indianred !important;
        }
    }
}

@media screen and (max-width: 992px) {
    #section-three {

        #section-certifications {
            height: max-content !important;

            .card-certification {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .card-certification {
        width: 100% !important;
    }
}

@media screen and (max-width: 576px) {
    #section-three > .round-icon-container {
        visibility: collapse;
    }
}