@import "Variables";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#section-one {
    background-color: navajowhite;
    color: whitesmoke;
}

.scroll-to-icon {
    color:white !important;
}

#photo-container    {
    left: -8.34%;
}

#photo  {
    background-image: url("../images/photo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    z-index: 3;
    box-shadow: 0 4px 8px 0 rgba(gray, 0.2), 0 6px 20px 0 rgba(gray, 0.19);
}

#basic-information  {
    top: 0;
    right:0;
}

#name   {
    color: $primary-hover-color;
    font-family: 'Pacifico';
}

.se-title  {
    color: $gray-5;
}

.para-value    {
    color: $gray-black;
    font-size: 0.97em;
}

@media screen and (max-width: 1200px) {
    #section-one    {
        #photo-container    {
            width: 33.32% !important;
        }

        #basic-information  {
            width: 74.97% !important;
        }

        #photo  {
            background-position: 40%;
        }
    }
}

@media screen and (max-width: 992px) {
    #section-one    {
        height: max-content !important;

        .para-value {
            width: 100% !important;
        }

        #photo-container    {
            position: unset !important;
            width: 100% !important;
            height: 300px !important;
        }

        #basic-information  {
            position: unset !important;
            width: 100% !important;
            padding-left: 2rem !important;
        }

        #photo  {
            border-top-right-radius: 0px !important;
            border-bottom-left-radius: 50% !important;
            background-position: 0% 40%;
        }
    }
}

@media screen and (max-width: 576px) {
    #section-one .round-icon-container, #section-one .round-icon    {
        visibility: collapse;
    } 
}