@import "Variables";

#section-four  {
    background-color: rgb(240, 240, 252);
    min-height: 100%;
    height: max-content !important;

    header, .tag-project-name  {
        overflow: hidden;
        overflow-wrap: break-word;
    }
}

.section-four-card   {
    width: 30%;
    background-color: white !important;
    z-index: 5;
    box-shadow: $box-shadow-card;
    overflow-x: hidden;
}

@media screen and (width: 1200px) {
    .section-four-card   {
        margin-left: 10px;
    }

    #section-four > div  {
        height: 0% !important;
    }
}

@media screen and (max-width: 1200px) {
    #section-four {
        height: max-content !important;
    }

    .section-four-card   {
        width: 100%;
        margin-top: 10px;
    }

    .bg-white-div   {
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 576px) {
    .project-name, #section-four .in-progress   {
        display: block !important;
    }
}

.bg-white-div   {
    height: 35%;
    bottom: 0;
    left: 0;
    background-color: whitesmoke;
}

.tag-project-name   {
    font-size: 1.25em;
}

ul {
    padding-bottom: 0;
    padding-left: 0;
}

li  {
    list-style-image: url("../images/bullet-point.svg");
    padding-left: 8px;
}

#section-four {
    header.section-header   {
        color: purple !important;
    }

    .card-title .card-title-icon {
        background: darkviolet !important;
    }

    .card-title .card-title-value {
        color: darkviolet !important;
    }

    .round-icon {
        background-color: darkviolet !important;

        svg {
            color: white !important;
        }
    }

    .round-icon-container:hover .round-icon {
        background-color: purple !important;
    }
}