@import "Variables";

.tooltip    {
    opacity: 1 !important;
    margin: 5px !important;
    
    //.tooltip-arrow  {
    //    opacity: 0;
    //}

    .tooltip-inner  {
        padding: 10px 15px;
        background-color: $gray-black;
        border-radius: $border-radius;
    }
}